
#sec2 {
    padding-left: 100px; 
}
#head {
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(to right, #e6bcae,#c3cfe2);
}
.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    
}
.btn {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            background: linear-gradient(to bottom, #ff6b6b, #ff4181);
            color: #fff;
            transition: background 0.3s ease;
            cursor: pointer;
        }

        /* Hover Animation */
        .btn:hover {
            background: linear-gradient(to bottom, #ff4181, #ff6b6b);
        }
.services{
    background-image: linear-gradient(to right, #d5ddea,#ead4cd) !important;
}
.navbar-nav > li{
    margin-right:20px;
    font-size: 0.9em;
    font-family: "Courier New", monospace;
    font-weight: bold;
}
img {
    width:100%;
    height:auto;
}
.card {display:inline-block;}

.img-links{
    height: 3em;
    width: 3em;
}
